.buttonBlock {
  display: flex;
  flex-direction: column;
}
.buttonItem {
  margin: 30px;
  width: 80px;
  height: 80px;
}
.form {
  margin: 0 auto;
  text-align: center;
  padding: 32px;
}
.input {
  margin: 10px;
}
.parent,
.child,
.item {
  margin: 30px;
  padding: 10px;
  outline: 1px solid green;
}
.nav {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.liItem {
  margin: 30px;
  padding: 10px;
  border: 3px solid red;
}
.liItem.active {
  background-color: red;
}
.ball {
  width: 50px;
  height: 50px;
  background-color: red;
  z-index: 2;
  position: absolute;
  border-radius: 50%;
}
.ball1 {
  width: 50px;
  height: 50px;
  background-color: greenyellow;
  z-index: 1;
  position: absolute;
  border-radius: 50%;
}
